*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

.main{
    height: 100vh;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo{
    height: auto;
    float: left;
    width: 150px;
}

header{
    max-width: 100%;
    margin: auto;
    position: fixed;
    width: 100%;
    background-color: rgb(61, 56, 56);
}

.title{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: rgb(61, 56, 56);
    font-size: 60px;
}

.quote{
    position: absolute;
    top: 36%;
    left: 30%;
    transform: translate(-50%,-50%);
}

.quote p{
    color: rgb(61, 56, 56);
    font-size: 20px;
}

.bank_icon{
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%,-50%);
}

.button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn1_logo{
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.btn1{
    position: absolute;
    top: 77%;
    left: 20%;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(61, 56, 56);
    background-color: rgb(61, 56, 56);
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    transition: 0.5s ease;
}

.btn2_logo{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn2{
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(61, 56, 56);
    background-color: rgb(61, 56, 56);
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    transition: 0.5s ease;
}

.btn3_logo{
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%,-50%);
}

.btn3{
    position: absolute;
    top: 77%;
    left: 80%;
    transform: translate(-50%,-50%);
    border: 1px solid  rgb(61, 56, 56);
    background-color: rgb(61, 56, 56);
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    transition: 0.5s ease;
}

.btn1:hover, .btn2:hover, .btn3:hover{
    background-color: #fff;
    color: rgb(61, 56, 56);
}

footer{
    background-color: rgb(61, 56, 56);
    color: #fff;
    height: 70px;
}

footer .p1{
    position: absolute;
    left: 42%;
    color: #fff;
}

footer .p2{
    position: absolute;
    left: 39%;
    color: #fff;
}
